* {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    --lumo-primary-text-color: rgb(255, 255, 255);
    --lumo-secondary-text-color: rgb(163, 163, 163);
    --lumo-disabled-text-color:rgb(116, 116, 116);
    --lumo-body-text-color: var(--lumo-primary-text-color);
    --lumo-header-text-color: rgb(255,255,255);
    --lumo-contrast-10pct: rgb(41, 43, 47);
}

vaadin-tab {
    font-weight:600;
}

vaadin-details [slot='summary']{
    user-select: none;
}